<!--RestulfulBookApp-->
<% include ./partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit <%= book.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/books/<%= book._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <label>Image</label>
                    <input class = "form-control" type="text" name="book[image]" value="<%= book.image %>">
                </div>
                
                <div class="form-group">
                    <label>Name</label>
                    <input class = "form-control" type="text" name="book[name]" value="<%= book.name %>">
                </div>
                
                <div class="form-group">
                    <label>Author</label>
                    <input class = "form-control" type="text" name="book[bookAuthor]" value="<%= book.bookAuthor %>">
                </div>
                
                <div class="form-group" style= width: "30%">
                    <label>Bio</label>
                    <input class = "form-control" type="text" name="book[bio]" value="<%=book.bio %>">
                </div>
                
                <div class="form-group">
                    <label>Book description</label>
                    <input class = "form-control" type="text" name="book[description]" value="<%= book.description %>">
                    
                </div>
                
                <div class="form-group" style= width: "30%">
                    <label>Genre</label>
                    <input class = "form-control" type="text" name="book[genre]" value="<%= book.genre %>">
                </div>
                
                <div class="form-group">
                    <label>Published Info.</label>
                    <input class = "form-control" type="text" name="book[publishedInfo]" value="<%= book.publishedInfo %>">
                </div>
                
                <div class="form-group">
                    <label>Ratings</label>
                    <input class = "form-control" type="text" name="book[rating]" value="<%= book.rating %>">
                </div>
                
                <div class="form-group">
                    <label>Comments</label>
                    <input class = "form-control" type="text" name="comment[text]" value="<%= book.comments %>">
                </div>
                
                <div class="form-group">
                    <button class = "btn btn-lg btn-primary btn-block" style="width: 30%;" > Update! </button>
                </div>
                                
            </form>
            <a href="/books">Go Back</a>
        </div>
    </div>
</div>
<% include ./partials/footer %>







